version: '3'

services:
  app:
    container_name: daisy-app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_KAKAO_MAP_KEY: ${NEXT_PUBLIC_KAKAO_MAP_KEY}
    restart: always
    ports:
      - 3001:3000
    env_file:
      - .env
    volumes:
      - ./public:/app/public
